.root-pane {
    -fx-background-color: #f1f1f1;
}

.header {
    -fx-background-color: #44e;
    -fx-padding: 0 15 0 15;
}
.header-title {
    -fx-text-fill: #fefefe;
    -fx-font-family: 'Roboto Condensed';
    -fx-font-size: 30px;
}

.icon-button {
    -fx-background-color: transparent;
}
.icon-button:hover {
    -fx-background-color: rgba(0,0,0,0.1);
}
.icon-button:pressed {
    -fx-background-color: rgba(0,0,0,0.2);
}
.icon-button > .font-icon {
    -fx-icon-color: #ddd;
    -fx-icon-size: 28px;
}
.icon-button:hover > .font-icon {
    -fx-icon-color: #8aed8a;
    -fx-icon-size: 28px;
}

.waveform-pane {
    -fx-padding: 10;
}
.waveform-info {
    -fx-text-fill: #4a4a4a;
    -fx-font-family: 'Roboto Regular';
    -fx-font-size: 18px;
}
.waveform-range {
    -fx-padding: 0 5 10 5;
}

.range-slider .low-thumb,
.range-slider .high-thumb {
    -fx-background-color: #44e;
}
.range-slider .range-bar {
    -fx-background-color: #66e;
}